.about {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

.about__title {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 23px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
}

.about__block-section {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
}

.about__block {
  padding-right: 40px;
}
.about__block:last-child {
  padding-right: 0;
}

.about__block-title {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.04em;
}

.about__block-text {
  margin: 0;
  padding-top: 26px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about__timeline {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.about__time {
  display: flex;
}

.about__num {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 20%;
  text-align: center;
  background-color: #2BE080;
  padding-top: 9px;
  padding-bottom: 9px;
}
.about__num:last-child {
  width: 80%;
  background-color: #F2F2F2;
}

.about__sign {
  margin: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 20%;
  padding-top: 14px;
  text-align: center;
  padding-bottom: 110px;
}
.about__sign:last-child {
  width: 80%;
}