/* Общие стили */
.title {
  margin: 0;
  padding-bottom: 23px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid black;
}

.transition {
  transition: .3s;
}

.transition:hover {
  opacity: 0.6;
}