.search {
  padding-top: 77px;
  padding-bottom: 83px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__form {
  width: 932px;
  height: 48px;
  position: relative;
}

.search__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.search__film {

}

.search__input {
  display: block;
  width: 100%;
  padding: 0;  
  padding-left: 22px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
  height: 48px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
}

.search__submit {
  position: absolute;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border-radius: 48px;
  background-color: #3456F3;
  border: none;
  width: 58.65px;
  height: 34px;
  color: #FFFFFF;
  top: 0.636em;
  right: 0.636em;
  cursor: pointer;
}

.search__slider-sign {
  margin: 0;
  padding-left: 41px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  padding-right: 14px;
}

/* The switch - the box around the slider */
.search__toggle {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
}

/* Hide default HTML checkbox */
.search__toggle .slider {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider__span {
  width: 34px;
  height: 14px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider__span:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: #EBEBEB;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider:checked + .slider__span {
  background-color: #2BE080;
}

.slider:checked + .slider__span:before {
  transform: translateX(20px);
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .search {
    padding-top: 60px;
    padding-bottom: 68px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    flex-direction: column;
  }
}
