.login-fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  padding-bottom: 168px;
}

@media (max-width: 480px) {
  .login-fieldset {
    padding-bottom: 255px;
  }
}