.login__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  padding-bottom: 158px;
}

@media (max-width: 480px) {
  .login__fieldset {
    padding-bottom: 245px;
  }
}